<div class="show-quote">
  <div class="box">
    <h1>{{stockSymbol | uppercase}}</h1>
    <div class="table">
      <table>
        <tr>
          <td class="change">Change today: {{this.quote?.dp | number : '1.0-1'}} % </td>
          <td><div class="stock"><div class="price">Opening price: {{this.quote?.o | currency : 'USD'}}</div><div class="icon" *ngIf="showUpward else downtrend"><img alt="up" src="assets/green_sm.png"></div></div></td>
        </tr>
        <tr>
          <td>Current price: {{this.quote?.c | currency : 'USD'}}</td>
          <td>High price: {{this.quote?.h | currency : 'USD'}}</td>
        </tr>
      </table>
      <div>
        <button class="close-button" label="social sentiment details" (click)="showInsiderSentiment()">
          Go to social sentiment details
        </button>
      </div>
    </div>
    <button class="close" (click)="closeQoutePanel()">
      <div>x</div>
    </button>
  </div>
</div>

<ng-template #downtrend>
  <div class="icon">
    <img alt="down" src="assets/rood.png">
  </div>
</ng-template>


