.show-quote {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
}

.box {
  height: 40vh;
  width: 100vh;
  background-color: white;
  justify-content: center;
  color: black ;
  border: 0.25rem blue;
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
}

.close {
  width:1.5rem;
  position: absolute;
  border:none;
  top: 1rem;
  right: 1rem;
}

.close-button {
  height: 1.5rem;
}

.table {
  width: 100vh;
  float: left;
  border: none;
}

.table>:not(caption)>*>* {
  background-color: var(--bs-table-bg);
  border-bottom-width: 0;
}

tr {
  border: none;
}


.stock {
  width: 60vh;
  overflow: hidden;
}

.price {
  float: left;
}

.icon {
  justify-content: right;
  text-align: right;
  overflow: hidden;

}






h1 {
  text-align: left;
  padding-left: 2rem;
}
