<div class="app">
  <div id="search-stock">
    <app-search-stock
    (submit)="submit($event)"
    (open)="openQuote($event)"
    (hidden)="setStockListButtonVisisble($event)"
    >
  </app-search-stock>
  </div>
    <app-current-quote *ngIf="showCurrentQuotes"
    [searchForm]="searchForm"
    (close)="closeQuote($event)"
    (hidden)="setStockListButtonVisisble($event)"
    ></app-current-quote>
    <router-outlet></router-outlet>
  <div class="backButton">
    <button id="backBtn" (click)="showListOfStocks()" [hidden]="buttonHidden">Back to list of stocks</button>
  </div>
</div>
