.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.box {
  height: 50vh;
  width: 130vh;
  background-color: white;
  justify-content: center;
  color: black ;
  border: 0.25rem blue;
  border-radius: 0.5rem;
}

.table {
  width: 150vh;
  float: left;
  border: none;
}

.table>:not(caption)>*>* {
  background-color: var(--bs-table-bg);
  border-bottom-width: 0;
}
