.form-div {
  height: auto;
  align-items: center;
  flex-direction: row;
  text-align: center;
  margin: 0 auto;
  background-color: blueviolet;
}

form {
  display: inline-block;
}

.box {
  height: 25vh;
  width: 75vh;
  background-color: lightgrey;
  margin: 0 auto;
  border: 0.25rem beige;
  border-radius: 0.5rem;
}

button {
  width: 6rem;
  height: 2.5rem;
  background-color: cornflowerblue;
  color: blanchedalmond;
  margin-left: 4rem;
  border-radius: 0.5rem;
  vertical-align: middle;
}

input {
  width: 15rem;
  height: 2.5rem;
  border: 0.25rem;
  border-radius: 0.25rem;
  background-color: whitesmoke;
  color: black;
  vertical-align: middle;
}


.upper-case {
  text-transform: uppercase;
}
