<div class="form-div">
  <mat-card>
    <div>
      <mat-dialog-content>
        <p>Enter the symbol a stock to track (i.e. AAPL, TSLA, GOOGL)</p>
        <form [formGroup]="form" id="form" (ngSubmit)="submitForm()">
          <mat-form-field  id="stockSymbol">
            <input required matInput formControlName="stockSymbol" appAlphabetic placeholder="search stock" [maxLength]="5" class="uppercase">
            <mat-error *ngIf="stockSymbol.hasError('required') && stockSymbol.touched">This field is required</mat-error>
          </mat-form-field>
          <button mat-raised-button color="primary" matSuffix mat-stroked-button aria-label="search">
            Track Stock
          </button>
        </form>
      </mat-dialog-content>
    </div>
  </mat-card>
</div>